<html>
    <head>
    <title>Create new post</title>
    {% include "header.html" %}
    
    </head>

    <body>
        <div class="submitForm">
            <form action="/submit" method="POST">
            <input type="text" name="title" placeholder="Post Title"><br>
            <textarea name="body" placeholder="Post Body"></textarea><br>
            <input type="text" name="tags" placeholder="Tag1,Tag2"><br>
            <input type="submit">
            </form>
        </div>
    </body>
</html>